<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

	<link href='./style.css' rel='stylesheet' type='text/css'>
	<style media="print">
		body { font-size: 12px; }
	</style>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
	
	</head>
	<body>
	
	<div id="resume">

	<section class="heading">
		<header>
			<h1>{{resume.basic.sname}}</h1>
			<div class="contact">
				{{#if resume.basic.semail}}
				<span class="detail">
					<a href="mailto:{{resume.basic.semail}}">{{resume.basic.semail}}</a>
				</span>
				{{/if}}
				{{#if resume.basic.sphone}}
				<span class="detail">
					{{resume.basic.sphone}}
				</span>
				{{/if}}
				{{#if resume.basic.swebsite}}
				<span class="detail">
					<a href="{{resume.basic.swebsite}}">{{resume.basic.swebsite}}</a>
				</span>
				{{/if}}
			</div>
		</header>


		{{#if resume.basic.summary}}
		<p>{{resume.basic.summary}}</p>
		{{/if}}

		{{#if resume.basic.profiles.length}}
			{{#each resume.basic.profiles}}
			<div class="profile">
				{{#if network}}
				<strong class="network">
					{{network}}
				</strong>
				{{/if}}
				{{#if username}}
				<span class="username">
					{{#if url}}
					<a href="{{url}}">{{username}}</a>
					{{else}}
					{{username}}
					{{/if}}
				</span>
				{{/if}}
			</div>
			{{/each}}
		{{/if}}

	</section>

	{{#if resume.skills.length}}
	<section id="skills">
		<h2>工作技能</h2>
		{{#each resume.skills}}
		<div class="item">
			{{#if name}}
			<div class="name">
				{{name}}
			</div>
			{{/if}}
			{{#if keywords.length}}
			<div class="keywords">
				{{#each keywords}}
					{{this}}{{#if @last}}{{else}},{{/if}}
				{{/each}}
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

	{{#if resume.work.length}}
	<section class="experience">
		<h2>工作經驗</h2>
		{{#each resume.work}}
		<section class="item">
			<header>
				{{#if company}}
					<h3 class="name">{{company}}</h3>
				{{/if}}
			</header>
			{{#if position}}
			<span class="position">
				{{position}}
			</span>
			{{/if}}

			{{#if startDate}}
			<span class="startDate">
				{{startDate}}
			</span>
			{{/if}}
			{{#if endDate}}
			<span class="endDate">
				- {{endDate}}
			</span>
			{{else}}
			<span class="endDate">
				- Present
			</span>
			{{/if}}

			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
			{{#if highlights.length}}
			<ul class="highlights">
				{{#each highlights}}
				<li>{{this}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</section>
		{{/each}}
	</section>
	{{/if}}

	{{#if resume.volunteer.length}}
	<section class="experience">
		<h2>志願服務</h2>
		{{#each resume.volunteer}}
		<div class="item">
			<header>
				{{#if organization}}
					<h3 class="name">{{organization}}</h3>
				{{/if}}
			</header>
			{{#if position}}
			<span class="position">
				{{position}}
			</span>
			{{/if}}

			{{#if startDate}}
			<span class="startDate">
				{{startDate}}
			</span>
			{{/if}}
			{{#if endDate}}
			<span class="endDate">
				- {{endDate}}
			</span>
			{{else}}
			<span class="endDate">
				- Present
			</span>
			{{/if}}

			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
			{{#if highlights.length}}
			<ul class="highlights">
				{{#each highlights}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}
	
	{{#if resume.education.length}}
	<section id="education">
		<h2>學歷</h2>
		{{#each resume.education}}
		<div class="item">
			<header>
				{{#if institution}}
					<h3 class="name">{{institution}}</h3>
				{{/if}}
			</header>

			<div class="dates">
				{{#if startDate}}
				<span class="startDate">
					{{startDate}}
				</span>
				{{/if}}
				{{#if endDate}}
				<span class="endDate">
					- {{endDate}}
				</span>
				{{else}}
				<span class="endDate">
					- Present
				</span>
				{{/if}}
			</div>

			<div class="qualification">
				{{#if studyType}}
				<span class="studyType">
					{{studyType}}
				</span>
				{{/if}}

				{{#if area}}
				<span class="area">
					- {{area}}
				</span>
				{{/if}}

				{{#if gpa}}
				<span class="gpa">
					GPA: {{gpa}}
				</span>
				{{/if}}
			</div>

		</div>
		{{/each}}
	</section>
	{{/if}}
	
	{{#if resume.awards.length}}
	<section id="awards">
		<h2>獎項</h2>
		{{#each resume.awards}}
		<div class="item">
			{{#if title}}
			<div class="title">
				{{title}}
			</div>
			{{/if}}
			{{#if date}}
			<div class="date">
				{{date}}
			</div>
			{{/if}}
			{{#if awarder}}
			<div class="awarder">
				{{awarder}}
			</div>
			{{/if}}
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}
	
	{{#if resume.publications.length}}
	<section id="publications">
		<h2>刊物</h2>
		{{#each resume.publications}}
		<div class="item">
			{{#if name}}
			<div class="name">
				{{name}}
			</div>
			{{/if}}
			{{#if publisher}}
			<div class="publisher">
				{{publisher}}
			</div>
			{{/if}}
			{{#if releaseDate}}
			<div class="releaseDate">
				{{releaseDate}}
			</div>
			{{/if}}
			{{#if website}}
			<div class="website">
				<a href="{{website}}">Link</a>
			</div>
			{{/if}}
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

	{{#if resume.languages.length}}
	<section id="languages">
		<h2>語言</h2>
		{{#each resume.languages}}
		<div class="item">
			{{#if language}}
			<span class="language">
				{{language}}
			</span>
			{{/if}}
			{{#if fluency}}
			<span class="fluency">
				<em>{{fluency}}</em>
			</span>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

{{#if resume.nationalities.length}}
	<section id="nationality">
		<h2>Nationality</h2>
		{{#each resume.nationalities}}
		<div class="item">
			{{#if nationality}}
			<span class="nationality">
				{{nationality}}
			</span>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

	{{#if resume.interests.length}}
	<section id="interests">
		<h2>興趣</h2>
		{{#each resume.interests}}
		<div class="item">
			{{#if name}}
			<div class="name">
				{{name}}
			</div>
			{{/if}}
			{{#if keywords.length}}
			<ul class="keywords">
				{{#each keywords}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}


	{{#if resume.references.length}}
	<section id="references">
		<h2>參考</h2>
		{{#each resume.references}}
		<div class="item">
			{{#if reference}}
			<blockquote class="reference">
				{{reference}}
			</blockquote>
			{{/if}}
			{{#if name}}
			<div class="name">
				— {{name}}
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

	</div>
	<a href="//canner.io" class="ribbon-container" target="_blank">
	    <span class="ribbon">powered by Canner</span>
	</a>
	
	</body>

	<style>
		.ribbon-container {
		    z-index: 100000;
		    position: relative;
		    display: inline-block;
		    line-height: 1;
		}
		 
		.ribbon {
		    position: fixed;
		    bottom: 1em;
		    left: 0;
		    margin-right: 1em;
		    padding: .75em 1.25em .75em .75em;
		    border-radius: 0 .5em .5em 0;
		    background-color: #39f;
		    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%);
		    box-shadow: inset 0 .062em 0 rgba(255,255,255,.6), 0 .125em .25em rgba(0,0,0,.2);
		    color: #fff;
		    text-shadow: 0 -.062em 0 rgba(0,0,0,.2);
		    white-space: nowrap;
		    transition: background-color .2s ease-in-out;
		}
		 
		.ribbon:before,
		.ribbon:after {
		    position: absolute;
		    background-color: inherit;
		    content: "";
		}
		 
		.ribbon:before {
		    bottom: 0;
		    left: -.5em;
		    width: .5em;
		    height: 3em;
		    border-radius: 0 0 0 .5em;
		    background-image: linear-gradient(to right, rgba(0,0,0,.2) 0%, rgba(0,0,0,0) 100%);
		}
		 
		.ribbon:after {
		    top: -1em;
		    left: -.5em;
		    width: .5em;
		    height: 1em;
		    border-radius: .5em 0 0 .5em;
		    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%);
		    box-shadow: 0 .062em 0 rgba(255,255,255,.6);
		}
		 
		.ribbon-container:hover .ribbon {
		    background-color: #7acc29;
		}
	</style>
</html>